name: leirock-friends

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source
      uses: actions/checkout@v2
      with:
        persist-credentials: false

    - name: Setup Node
      uses: actions/setup-node@v2

    - name: Build friends list
      run: |
        node -v
        yarn install
        yarn build
        cp -r src/logo dist/logo

    - name: Upload to COS
      uses: zkqiang/tencent-cos-action@v0.1.0
      with:
        args: upload -rs --delete dist pages/friends -f
        secret_id: ${{ secrets.SECRET_ID }}
        secret_key: ${{ secrets.SECRET_KEY }}
        bucket: ${{ secrets.BUCKET }}
        region: ap-hongkong

    - name: Telegram notification
      if: cancelled() == false
      uses: xinthink/action-telegram@v1.1
      with:
        botToken: ${{ secrets.TG_BOT_TOKEN }}
        chatId: ${{ secrets.TG_CHAT_ID }}
        jobStatus: ${{ job.status }}
        skipSuccess: false